<div class="container flex justify-around pagination-inner">
  {%- if pagination.href.previous -%} 
  <a href="{{ pagination.href.previous }}">Anterior</a>
  {%- endif -%}

  {%- if pagination.href.next -%} 
  <a href="{{ pagination.href.next }}">Siguiente</a>
  {%- endif -%}
</div>