<section class="container shadow-lg p-5">
<header class="container mx-auto flex flex-row bg-orange-600 p-4 rounded-md items-center">
    <div class="">
        <img src="{{ perfil.profile_image_url_https }} " class="rounded-lg" alt="Foto de perfil" />
    </div>
    <div class="flex flex-row flex-grow justify-around items-center">
        <p class="text-3xl text-white">{{ perfil.name }}</p>
        <p class="text-lg text-white">@{{ perfil.screen_name }}</p>
        <p class="text-lg text-white text-center">Seguidores:<br><span class="text-white-700 text-2xl">{{ perfil.followers_count }}</span></p>
        <p class="text-lg text-white text-center">Sigue a:<br><span class="text-white-700 text-2xl">{{ perfil.friends_count }}</span></p>
        <p class="text-lg text-white text-center">Cantidad de tuits:<br><span class="text-white-700 text-2xl">{{ perfil.statuses_count }}</span></p>
    </div>
</header>
<section class="container mx-auto my-5">
    <p class="text-xl text-orange-700">{{ perfil.description }}</p>
</section>
{% for evento in eventos %}
    {% set image = "/assets/imgs/"+perfil.screen_name+"/"+evento.enlace+".png" %}
    <h2 class="text-xl">{{ evento.evento }}</h2>
    <img src="{{ image | url }}" alt="Nube de palabras sobre {{ evento.evento }}" />
    {% include "analisis/"+perfil.screen_name+"/"+evento.enlace+".html" ignore missing %}
{% endfor %}

{% include "partials/navegacion.njk" %}
</section>