<div class="p4 shadow-lg">
    <section class="flex flex-col p-5">
        <h3 class="text-2xl mb-5 border-b-2 border-orange-700">Cuentas</h3>
        <ul>
        {% for perfil in perfiles %}
        {% set link %}
        {% linkecito perfil.screen_name %}
        {% endset %}
            <li class="list-none mb-3">👉 <a href="{{ link  | url }}">{{ perfil.name}}</a></li>
        {% endfor %}
        </ul>
    </section>
</div>