<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El discurso político en Twitter</title>
    <link rel="stylesheet" href="{{ '/assets/css/tailwind.css' | url }}">
</head>
<body>
    <header class="md:mb-10">
        <nav class="flex items-center justify-between flex-wrap bg-indigo-600 p-6">
            <div class="flex items-center flex-shrink-0 text-white mr-6">
                <h1><span class="font-semibold text-3xl tracking-tight"><a href="{{ '/' | url }}" alt="inicio">El discurso público a través de twitter</a></span></h1>
            </div>
            <div class="block lg:hidden">
                <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
                </button>
            </div>
            <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
                <div class="text-sm lg:flex-grow">
                <a href="{{ '/tuiteros/' | url }}" class="block mt-4 lg:inline-block lg:mt-0 text-indigo-200 hover:text-white mr-4">
                    Perfiles
                </a>
                <!-- <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-indigo-200 hover:text-white mr-4"> 
                    Examples
                </a>
                <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-indigo-200 hover:text-white">
                    Blog
                </a>-->
                </div>
            <div>
    </div>
  </div>
</nav>
</header>
<main class="container mx-auto">
    {{ content | safe}}
</main>
<footer class="md:mt-10 bg-indigo-600 p-6">
    <p class="text-white">Diplomado</p>
</footer>
</body>
</html>