--- 
layout: "base.njk"
--- 
<h1 class="text-2xl color-gray-800">Introducción</h1>

<p>Este trabajo surgió dentro del Diplomado de Datos y Contrataciones abiertas y buscamos, a través de varias de las herramientas que aprendimos y utilizamos dentro del diplomado, entender cómo funciona la construcción del discurso público dentro de la red Twitter, a partir del análisis de los <em>tuits</em> de personajes y organizaciones emblemáticas del Estado Plurinacional de Bolivia.</p>
<p>A partir de nuestras experiencias personales y por el interés del propio diplomado buscamos registrar el procedimiento que seguimos para que pueda ser reproducido por otros investigadores. Para eso utilizamos todas herramientas libres.</p>

<h2>Librerías</h2>

<p>Estaremos usando principalmente dos librerías para la descarga de tweets:
<ul class="ml-10">
    <li class="list-disc"><a href="https://github.com/DocNow/twarc" class="text-indigo-700">twarc</a> - Para usar esta librería es necesario contar con una cuenta para desarrolladores. En principio la usamos para capturar los perfiles de las cuentas de twitter que nos interesan.</li>
    <li class="list-disc"><a href="https://github.com/twintproject/twint/" class="text-indigo-700">twint</a> - No es necesario tener una cuenta de desarrollador y permite descargar tuits históricos.</li>
</ul>
</p>