---
layout: base.njk
data: perfiles.json
---
<div class="container mx-auto">
    <h1 class="text-2xl">Cuentas que seguimos</h1>
    <section class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {% for perfil in perfiles %}
        {% set link %}
        {% linkecito perfil.screen_name %}
        {% endset %}
        <a href="{{ link | url }}">
        <article class="flex shadow-lg p-2 max-w-xs">
            <section>
                <img src="{{ perfil.profile_image_url_https }} " class="rounded-lg" alt="Foto de perfil" />
            </section>
            <section class="ml-3">
                <h2 class="text-gray-800 text-xl font-semibold">{{ perfil.name }}</h2>
                <h3 class="text-gray-800 text-sm">@{{ perfil.screen_name }}</h3>
                <p class="text-gray-800 text-sm">Seguidores: <span class="text-indigo-700">{{ perfil.followers_count }}</span> </p>
            </section>
        </article>
        </a>
        {% endfor %}
    </section>
</div>